<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
        margin:0
        }
    .header{
        background-color: #333;
        }
    .container{
        width: 1226px;
        margin: 0 auto;
        }
    .header .menu{
        float: left;
        color: white;
        }
    .header .account{
        float: right;
        color: white;
        }
    .header a{
        color: #b0b0b0;
        line-height: 40px;
        display: inline-block;
        font-size: 12px;
        margin-right: 5xp;
        }
</style>
<body>
/* ファーストメーニュ */
<div class="header">
    <div class="container">
        <div class="menu">
            <a>サイトトップ</a>
            <a>メーニュ</a>
            <a>商品</a>
            <a>クラウド</a>
            <a>その他</a>
            </div>
        <div class="account">
            <a>ログイン</a>
            <a>登録</a>
            <a>info</a>
        </div>
        <div style="clear: both"></div>
    </div>
</div>




</body>
</html>
